* {
	box-sizing: border-box;
	/*border: 0.5px dotted black;*/
}
img{
	width: 100%;
}
html,body{
	padding: 0;
	margin: 0;
	font-family: 'Poiret One', cursive;
}
header {
	display: block;
}

.navBarMain {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.navBarTitle {
	/*height: 100%;*/
	width: 45%;
	font-size: 1.5em;
	text-align: center;
	vertical-align: text-bottom;
	list-style: none;
	/*list-height:70px;*/
	margin:0;
	padding: 0;
}
.navBarTitle .navBar{
	display: inline;
}
.logoImg{
	width: 15%;
}
.logoImg img {
	100%;
}
.promo {
	
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: orange;
	color: white;
	display: block;

}
.promo:hover{
	background-color: blue;
}
.tieImagess {
	background-color: #f4f4f4;
	width: 100%;
}
.loginSignup{
	display: flex;
	flex-wrap: wrap;
	width: 35%;
}
.navBarSideComponent1 .navBarSideComponent2 {
	text-align: right;
	vertical-align: text-top;
	

}
.navBarSideComponent3 .navBarSideComponent4 {
	vertical-align: bottom;
}
navBarSideComponent4{

}

.tieImageText{
	font-size: 3.5em;
	text-align: center;	
	padding: 1em;

}

.mainImage{
	margin: auto;

}

.tie1 ,.tie2 ,.tie3 ,.tie4 ,.tie5 ,.tie6 ,.tie7 ,.tie8 ,.tie9 {

	text-align: center;
	padding: 0;


}
.tieImageList{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.threeImages{
	margin: 0 auto;
	display: inline-block;
	/*margin-left: auto;
	margin-right: auto;*/
	


}

.threeImgComponent {
	width: 29%;	
	margin: 1%;

}

.ourStoryIntro {
	padding: 3%;
	text-align: center;
}

.extraInfo {
	padding: 2%;
	height: 300px;
	clear: both;
	

}

.extraInfoHeading {
	font-weight: bolder;
	font-family: arial;
}

.extraInfoList {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	width: 100%;
	
}

.extraInfoListComponent {
	width: 20%;
	margin: 2%;
}

.basicFooterInfo {
	display: flex;
	flex-wrap: wrap;
	height: 100px;
}

.sitemap {
	width: 56%;
	
}

.sitemapUl {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.sitemap1 ,.sitemap2 ,.sitemap3 ,.sitemap4 {
	width: 22%;
	margin: 1%;
}

.contactUs {
	width: 40%;
	margin: 2%;
}










